@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
==============================
Custom Styles
==============================
*/

body {
  height: 100vh;
  background-image: url("images/table.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
==============================
Header
==============================
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

/*
==============================
Typography
==============================
*/


h1 {
  font-size: 50px;
  font-family: 'Eagle Lake', cursive;
  padding: 12px;
  font-style: italic;
  text-align: center;
  color: #FFEEAD;
  font-weight: 700;
  text-shadow: 2px 2px #000,
               -.4px -.4px #000;
}

h4 {
  font-family: 'Eagle Lake', cursive;
  font-size: 22px;
  color: #FFEEAD;
  text-shadow: 1px 1px #000,
               -.3px -.3px #000;
}

h5 {
  font-size: 15px;
  font-family: 'Eagle Lake', cursive;
}

/*
==============================
Game Board
==============================
*/

.box {
    width: 880px;
    height: 680px;
    background: linear-gradient(to bottom, #F93333, #d60e26);
    border-radius: 12px;
    box-shadow: 6px 7px 7px;
  }

.game-screen {
  height: 460px;
  width: 630px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #e0e1e2 , #DADADA);
  border-radius: 23px;
  box-shadow: inset 1px 1px 12px,
              inset -1px -1px 12px;
}

/*
==============================
Bottom Row
==============================
*/

footer {
  position: relative;
  margin-top: -18px;
}

.knob {
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .knob:nth-child(1n) {
  box-shadow: 3px 2px 4px;

}

footer .knob:nth-child(2n) {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -3px 2px 7px;

}

.innerknob {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
==============================
Buttons
==============================
*/

a {
  text-decoration: none;
  color: black;
}
