@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
==============================
Custom Styles
==============================
*/

body {
  height: 100vh;
  background-image: url("images/table.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
==============================
Header
==============================
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

/*
==============================
Typography
==============================
*/


h1 {
  font-size: 50px;
  font-family: 'Eagle Lake', cursive;
  padding: 12px;
  font-style: italic;
  text-align: center;
  color: #FFEEAD;
  font-weight: 700;
  text-shadow: 2px 2px #000,
               -.4px -.4px #000;
}

h3 {
  font-family: 'Eagle Lake', cursive;
  color: #FFEEAD;
}

h4 {
  margin-left: .5em;
  font-family: 'Eagle Lake', cursive;
  font-size: 22px;
  color: #FFEEAD;
  text-shadow: 1px 1px #000,
               -.3px -.3px #000;
}

h5 {
  font-size: 15px;
  font-family: 'Eagle Lake', cursive;
}

/*
==============================
Game Board
==============================
*/

.box {
  width: 880px;
  height: 680px;
  background: linear-gradient(to bottom, #F93333, #B00013);
  border-radius: 12px;
  box-shadow: 6px 7px 7px;
  }

#game-screen {
  height: 460px;
  width: 630px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #e0e1e2 , #DADADA);
  border-radius: 23px;
  box-shadow: inset 1px 1px 12px,
              inset -1px -1px 12px;
  overflow: hidden;
}


/*
==============================
the Grid
==============================
*/

.squares {
  box-sizing: border-box;
  float: left;
}

.squares:hover {
  cursor: pointer;
}

/*
==============================
Bottom Row
==============================
*/

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.knob {
  margin-top: -18px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #E3EAED;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .knob:nth-child(1n) {
  box-shadow: 3px 2px 4px;
}

footer .knob:nth-child(2n) {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -3px 2px 7px;

}

.innerknob {
  width: 100px;
  height: 100px;
  border: 1px solid #8f9091;
  border-radius: 50%;
  box-shadow: inset 1px -1px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-knob-left {
  box-shadow: inset -1px -1px 3px;
}

/*
==============================
Buttons
==============================
*/

button {
  background-color: #E3EAED;
  font-family: 'Eagle Lake', cursive;
  border: none;
  cursor: pointer;
  padding: 8px;
}

button:focus {
  outline: 0;
}

#color-button {
  margin-top: 2.5em;
  min-width: 156px;
  border-radius: 10px;
  padding: 8px 14px;
  box-shadow: 2px 3px 3px;
}

/* Clear Shake */

.shake-slow {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-slow:hover,
.shake-trigger:hover .shake-slow {
  animation-play-state: running; }

@keyframes shake-slow {
  2% {
    transform: translate(0px, -3px) rotate(3.5deg); }
  4% {
    transform: translate(-9px, -3px) rotate(0.5deg); }
  6% {
    transform: translate(-7px, 4px) rotate(-0.5deg); }
  8% {
    transform: translate(7px, 5px) rotate(2.5deg); }
  10% {
    transform: translate(-1px, -3px) rotate(-1.5deg); }
  12% {
    transform: translate(-3px, 8px) rotate(1.5deg); }
  14% {
    transform: translate(9px, -7px) rotate(2.5deg); }
  16% {
    transform: translate(1px, -9px) rotate(3.5deg); }
  18% {
    transform: translate(-4px, 7px) rotate(-1.5deg); }
  20% {
    transform: translate(6px, 3px) rotate(0.5deg); }
  22% {
    transform: translate(4px, -2px) rotate(-1.5deg); }
  24% {
    transform: translate(-7px, -8px) rotate(3.5deg); }
  26% {
    transform: translate(-5px, 9px) rotate(2.5deg); }
  28% {
    transform: translate(0px, -2px) rotate(-1.5deg); }
  30% {
    transform: translate(5px, 9px) rotate(1.5deg); }
  32% {
    transform: translate(6px, 2px) rotate(-1.5deg); }
  34% {
    transform: translate(-9px, 9px) rotate(2.5deg); }
  36% {
    transform: translate(-8px, 10px) rotate(3.5deg); }
  38% {
    transform: translate(2px, -4px) rotate(-2.5deg); }
  40% {
    transform: translate(2px, 7px) rotate(-2.5deg); }
  42% {
    transform: translate(2px, 4px) rotate(3.5deg); }
  44% {
    transform: translate(-8px, -3px) rotate(2.5deg); }
  46% {
    transform: translate(5px, -3px) rotate(1.5deg); }
  48% {
    transform: translate(9px, 4px) rotate(3.5deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1.5deg); }
  52% {
    transform: translate(-9px, 4px) rotate(-1.5deg); }
  54% {
    transform: translate(-1px, -6px) rotate(-2.5deg); }
  56% {
    transform: translate(4px, -6px) rotate(0.5deg); }
  58% {
    transform: translate(-8px, 2px) rotate(2.5deg); }
  60% {
    transform: translate(2px, 10px) rotate(3.5deg); }
  62% {
    transform: translate(5px, 5px) rotate(1.5deg); }
  64% {
    transform: translate(5px, 7px) rotate(-0.5deg); }
  66% {
    transform: translate(-6px, 9px) rotate(-0.5deg); }
  68% {
    transform: translate(4px, -2px) rotate(0.5deg); }
  70% {
    transform: translate(-5px, -3px) rotate(3.5deg); }
  72% {
    transform: translate(2px, 5px) rotate(-0.5deg); }
  74% {
    transform: translate(-9px, 4px) rotate(3.5deg); }
  76% {
    transform: translate(3px, -7px) rotate(1.5deg); }
  78% {
    transform: translate(0px, 4px) rotate(2.5deg); }
  80% {
    transform: translate(-1px, 4px) rotate(1.5deg); }
  82% {
    transform: translate(8px, 2px) rotate(1.5deg); }
  84% {
    transform: translate(7px, -6px) rotate(-0.5deg); }
  86% {
    transform: translate(3px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(7px, -9px) rotate(-1.5deg); }
  90% {
    transform: translate(1px, 3px) rotate(0.5deg); }
  92% {
    transform: translate(10px, 3px) rotate(-0.5deg); }
  94% {
    transform: translate(4px, 1px) rotate(1.5deg); }
  96% {
    transform: translate(3px, 9px) rotate(2.5deg); }
  98% {
    transform: translate(4px, -7px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  animation-name: shake-slow;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: .2; }

  .black {
    background-color: black;
  }
