@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
==============================
Custom Styles
==============================
*/

body {
  height: 100vh;
  background-image: url("images/table.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
==============================
Typography
==============================
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

/*
==============================
Typography
==============================
*/


h1 {
  font-size: 50px;
  font-family: 'Eagle Lake', cursive;
  padding: 12px;
  font-style: italic;
  text-align: center;
  color: #D99E30;
  font-weight: 700;
  text-shadow: 1px 1px #000,
               -.5px -.5px #000;
}

/*
==============================
Game Board
==============================
*/

.box {
    width: 860px;
    height: 680px;
    background: linear-gradient(to bottom, #F93333, #d60e26);
    border-radius: 12px;
    box-shadow: 6px 7px 7px;
  }

.grid {
  height: 460px;
  width: 630px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #e0e1e2 , #DADADA);
  border-radius: 23px;
  box-shadow: inset 1px 1px 12px,
              inset -1px -1px 12px;
}
